{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.axislabels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.canvas.js') }}"></script>
<script type="text/javascript">
 $(document).ready(function(){

    var updateInterval = 3000;
    var data =[];
    var datainc=[];
    var totalPoints = 20;
    var now=new Date().getTime();
	function getData() {
        var url='http://127.0.0.1:5000/get_json';
        $.getJSON(url,
            function(info){
            var price=info['price']/1000;
            var temp=[now+=updateInterval,price];
            var increase=info['increase'];
            var tempinc=[now+=updateInterval,increase];
            console.log(temp)
             data.push(temp)
             datainc.push(tempinc);
             });
             if(data.length>totalPoints){
                 data.shift();
                 datainc.shift();
             }
             var res=data;
             var resinc=datainc;
             console.log(res)
             return [res,resinc];  
		}
        /*
        function getData2() {
        var url='http://127.0.0.1:5000/get_json';
        $.getJSON(url,
            function(info){
            var increase=info['increase'];
            var temp=[now+=updateInterval,increase];
            console.log(temp)
             datainc.push(temp);
             });
             if(datainc.length>=totalPoints-1){
                 datainc.shift();
             }
             var res=datainc;
             console.log(res)
             return res;  
		}
	 */
		$("#updateInterval").val(updateInterval).change(function () {
			var v = $(this).val();
			if (v && !isNaN(+v)) {
				updateInterval = +v;
				if (updateInterval < 1) {
					updateInterval = 1;
				} else if (updateInterval > 6000) {
					updateInterval = 6000;
				}
				$(this).val("" + updateInterval);
			}
		});
        dataset=[
           {
               data:getData()[0],
               lines:{
                    show:true,
                    lineWidth:1.2,
                },
                points:{
                    show:true,   
                },
                label:"bitcion price",
                },
                {
                    data:getData()[1],
                    lines:{
                    show:true,
                    lineWidth:1.2,
                },
                points:{
                    show:true,   
                },
                label:"bitcion increase",
                yaxis:2,
                }
        ];
        var options={
			series: {
				shadowSize: 0,	// Drawing is faster without shadows
                
            },
            colors:['##00FF00',"##ff0000"],
            grid:{
                    show:true,
                    backgroundColor:'#000000',
            },
			yaxes: [{
				min: 40,
                max: 60,
                tickFormatter:function(v,axis){
                    if(v%2==0){
                        return v;
                    }
                    else{
                        return "";
                    }
                },
                axisLabel:'price(¥)*1000',
                axisLabelUseCanvas:true,
                axisLabelFontSizePixels:12,
                axisLabelFontFamily:'Verdana, Arial',
                axisLabelPadding:6,
			},
            {
                min: -10,
                max: 10,
                position:"right",
                
                axisLabel:'increse(%)',
                axisLabelUseCanvas:true,
                axisLabelFontSizePixels:12,
                axisLabelFontFamily:'Verdana, Arial',
                axisLabelPadding:6,
            }
            ],
			xaxis: {
                mode:"time",
                tickSize:[2,"second"],
                tickFormatter:function(v,axis){
                    var date=new Date(v);
                    if (date.getSeconds()%20==0){
                        var hours=date.getHours()?date.getHours():date.getHours();
                        var minutes=date.getMinutes()<10?"0"+date.getMinutes():date.getMinutes();
                        var seconds=date.getSeconds()<10?"0"+date.getSeconds():date.getSeconds();
                        return hours+":"+minutes+":"+seconds;
                    }
                    else{
                        return "";
                    }
                },
				 axisLabel:'Time',
                 axisLabelUseCanvas:true,
                 axisLabelFontSizePixels:12,
                 axisLabelFontFamily:'Verdana, Arial',
                 axisLabelPadding:10,

			}
		};
		var plot = $.plot("#placeholder",dataset ,options);
		function update() {
            getData();
            console.log('it works')
			//plot.setData([getData(),getData2()]);
            plot.setData(dataset);
			// Since the axes don't change, we don't need to call plot.setupGrid()
			plot.draw();
			setTimeout(update, updateInterval);
		}
    update()
});
</script>

{% endblock %}
{% block content %}
<div id="content">
		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>

	</div>
{% endblock %}